@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide div{
    margin:0px 5px;
}
.slick-arrow:before{
    color: rgb(0, 0, 0) !important;
    font-size: 30px !important;
    /* background-color: rgb(255, 249, 249) !important; */
    
    /* background-color: rgb(24, 197, 24) !important; */
}
.slick-prev{
    left: -50px !important;
}
.slick-next{
    right: -50px !important;
}
@media (max-width:1024px){
    .slick-arrow:before{
        color: rgb(0, 0, 0) !important;
        font-size: 30px !important;
    }
    .slick-prev{
        left: -35px !important;
    }
    .slick-next{
        right: -20px !important;
    }
}
@media (max-width:480px){
    .slick-arrow:before{
        color: rgb(0, 0, 0) !important;
        font-size: 30px !important;
    }
    .slick-prev{
        top: -25px !important;
        left: 230px !important;
    }
    .slick-next{
        top:-25px !important;
        right: 40px !important;
    }
}